html * {
    background: #2637dd;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

*:focus {
    outline: none;
}

*::-moz-focus-inner {
    border: 0;
}

.playToggleRow {
    height: 3em;
}

button#playToggle {
    background-color: #ff0086;
}

body {
    margin: 1em auto;
    max-width: 40em;
    padding: 0 .62em;
}

p {
    margin: 0
}

.grid {
    display: grid;
    grid-template-columns: 0.10fr 200px 0.1fr;
    grid-gap: 10px;
}

.beat {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    background-color: #fff;
    padding: 9px;
    margin: 0;
    display: inline-block;
    position: relative;
}

.beat:checked {
    background-color: #ff0086;
}

input[type=range] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    background-color: #fff;
    padding: 0;
    height: 18px;
    width: 98%;
    margin: 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #ff0086;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border: none;
    height: 18px;
    width: 18px;
    background: #ff0086;
}

input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: #fff;
}
